/* components/Tabs.module.css */
.tabsContainer {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: blueviolet;
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin-right: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.activeTab {
  background-color: #007bff;
  color: white;
}
.tabContent{
  padding-top: 10px;
  text-align: center;
}
